<!-- theme switcher -->
<aside class="theme-switcher" [ngClass]="{'open': themeSwitcherVisible===true}">
  <div class="theme-switcher__inner">
    <p class="theme-switcher__text center">Pick a style</p>
    <ul class="theme-switcher__list">

      <li class="theme-switcher__item" *ngFor="let theme of themes">
        <button [class]="'theme-switcher__btn theme-switcher__btn--' + theme.name"
          (click)="themeClickHandler(theme.name)" [ngClass]="{'active': activeTheme===theme.name}">
          <span class="theme-switcher__name">{{ theme.name }}</span>
          <div class="theme-switcher__palette">
            <div class="theme-switcher__color theme-switcher__color--primary"></div>
            <div class="theme-switcher__color theme-switcher__color--secondary"></div>
            <div class="theme-switcher__color theme-switcher__color--ternary"></div>
            <div class="theme-switcher__color theme-switcher__color--bg"></div>
            <div class="theme-switcher__color theme-switcher__color--text"></div>
          </div>
        </button>
      </li>
    </ul>
    <button class="icon ts-close" aria-label="Close theme switcher" (click)="tsClickHandler()">
      <div class="ts-close__inner">
        <span class="ts-close__span"></span>
        <span class="ts-close__span"></span>
      </div>
    </button>
  </div>
</aside>



<header [ngClass]="{'scrolled': scrolled===true}">
  <div class="container">
    <div class="header-row">
      <div>
        <a routerLink="/" class="logo">
          <img src="/assets/images/Rens flowers - compressed 600px.jpeg" alt="Image of Rens" height="40px" width="40px">
          <h1>rensvis.</h1>
        </a>
      </div>

      <!-- aside -->
      <aside class="header-menu" [ngClass]="{'open': menuVisible===true}">
        <nav class="header-menu__nav">
          <ul class="header-menu__list">
            <li class="header-menu__item header-menu__item--home">
              <a routerLink="/" class="header-menu__link" [ngClass]="{'current': currentRoute==='home'}">Home</a>
            </li>
            <li class="header-menu__item">
              <a routerLink="projects" class="header-menu__link"
                [ngClass]="{'current': currentRoute==='projects'}">Projects</a>
            </li>
            <li class="header-menu__item">
              <a routerLink="about" class="header-menu__link" [ngClass]="{'current': currentRoute==='about'}">About</a>
            </li>
            <li class="header-menu__item">
              <a href="/assets/pdf/Resume - Rens Vis.pdf" target="_blank" class="btn btn--transparent">Resume</a>
            </li>
          </ul>
        </nav>
      </aside>

      <div class="icons">

        <button class="icon" id="theme-toggle" aria-label="Theme switcher toggle" (click)="tsClickHandler()">
          <span class="" aria-label="Theme switcher">
            <i class="fas fa-paint-roller"></i>
          </span>
        </button>
        <button class="icon" id="hamburger" aria-label="Hamburger menu toggle" (click)="hamburgerClickHandler()">
          <div class="hamburger" [ngClass]="{'open': menuVisible===true}">
            <span class="hamburger__bar"></span>
            <span class="hamburger__bar"></span>
            <span class="hamburger__bar"></span>
          </div>
        </button>
      </div>

    </div>
  </div>
</header>



<!-- page header -->
<header class="page-header" [ngClass]="{'page-header--option-video': isHome===true}">

  <!-- static img (about, projects) -->
  <div class="page-header__option-img">
    <!-- <div class="phi"
      style="background-image:linear-gradient(90deg, #292e2d50 0%, #292e2d50 100%), url(assets/images/blur.jpg)"> -->
    <div class="phi">

      <div class="blur-bg">
        <div id="blur-container" class="blur-bg__inner">
          <!-- <div class="blur-bg__circle"></div> -->
          <!-- <div class="blur-bg__circle"></div>
          <div class="blur-bg__circle"></div>
          <div class="blur-bg__circle"></div> -->
        </div>
      </div>

      <h1 class="phi__title" #titleElement>{{ pageTitle }}</h1>

    </div>
  </div>


  <!-- video (home) -->
  <div class="page-header__option-video">
    <div class="phv">
      <video src="assets\videos\video.mp4" id="video-background" class="phv__video" autoplay muted loop preload
        playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true"></video>
      <div class="phv__video-overlay"></div>
      <div class="phv__content">
        <h1 class="phv__title">Rens</h1>
        <span class="phv__subtitle">Hi, I'm</span>
      </div>
    </div>
  </div>

</header>
