<article class="about">
  <div class="container container--m">

    <div class="about__your-host">

      <div class="row row--xlg">
        <div class="one-third">
          <div class="about__author center card">
            <img src="/assets/images/Rens flowers - compressed 600px.jpeg" class="about__img" alt="Image of Rens"
              height="300px" width="300px">
            <h2 class="about__name">Rens Vis</h2>
            <p class="about__role">Frontend developer</p>
            <p class="about__sub-role">[and occasionally designer]</p>
            <app-social-links></app-social-links>
          </div>

        </div>
        <div class="two-thirds">

          <h3 class="mt-zero">👋 It's nice to meet you!</h3>
          <p>My name is Rens Vis. I am based in Katwijk, The Netherlands and I've been coding on the web since 2020. I
            am currently working for <a href="https://nn.nl">Nationale Nederlanden</a> in Rotterdam, The Netherlands and
            I do part-time freelancing on <a href="https://rensvis.nl" target="_blank" rel="noreferrer">rensvis.nl</a>.
          </p>
          <h3>🖌️ Passion for design</h3>
          <p>I love creating useful things with code. But I love it even more if can make something look great. That's
            what drew me to frontend development. I started with Wordpress custom theme development and have since been
            branching into other technologies and frameworks. I
            use this site as a place to keep track of my projects and showcase my skills.</p>
          <h3 class="mt-zero">⚙️ How this is powered</h3>
          <p>This site is built using Angular. The projects demos are compiled and shown inside iframe elements. The
            site
            is hosted on Vultr servers through Cloudways.</p>
          <h3>🧰 Tools I use on the regular</h3>
          <p>
            I use Wordpress <i class="fab fa-wordpress-simple"></i> regularly when I build websites/webshops for
            businesses. I
            love working with frameworks like
            Angular
            <i class="fab fa-angular"></i>, React <i class="fab fa-react"></i> and Vue <i class="fab fa-vuejs"></i>. For
            designing and
            wireframing I mostly use Figma <i class="fab fa-figma"></i>.
          </p>
        </div>
      </div>
    </div>


  </div>


  <span class="s-bg-title">
    <span class="s-bg-title__letter">A</span>
    <span class="s-bg-title__letter">b</span>
    <span class="s-bg-title__letter">o</span>
    <span class="s-bg-title__letter">u</span>
    <span class="s-bg-title__letter">t</span>
  </span>
</article>
