<section class="projects">
  <div class="container">
    <div class="projects__row">
      <article class="project" *ngFor="let project of projects; let i = index" attr.data-index="{{ i }}">
        <a [routerLink]="['/projects', project.id]" class="project__link">
          <div class="card">
            <img [src]="'assets/images/' + project.gif" id="img-background" class="img-background project__img" alt="project.name + ' demo'">
            <div class="project__img-overlay"></div>
            <div class="project__content">
              <a routerLink="/projects" class="project__link">
                <h3 class="project__title">{{ project.name }}</h3>
              </a>
              <span class="project__date">{{ project.date | date :'mediumDate' }}</span>
              <p class="project__description">{{ project.description.short }}
              </p>
              <!-- <a routerLink="/projects" class="project__link read-more">Read more <i class="fas fa-arrow-right"></i></a> -->
              <br>
              <span class="tag" *ngFor="let tag of project.tags" [innerHTML]="tag.icon + tag.technology"></span>
            </div>
          </div>
        </a>
      </article>
    </div>
  </div>
</section>
