@import "/src/assets/scss/mixins.scss";
@import "/src/assets/scss/animations.scss";


.projects {

  &__row {
    display: grid;
    // justify-content: space-between;
    // flex-wrap: wrap;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    // grid-template-columns: auto;

    @include atWide {
      grid-template-columns: repeat(3, 1fr);
    }

    @include atMedium {
      grid-template-columns: 1fr;
    }
  }
}


.project {
  // overflow: hidden;
  position: relative;
  margin-bottom: var(--spacing-xl);

  &__link {
    &:hover {
      .card {
        // border: solid 6px var(--color-primary);
        transform: translateY(-10px);
      }

      .project {
        &__title {
          color: var(--color-primary);
        }
      }
    }
  }

  .card {
    padding: 0;
    overflow: hidden;
    transition: all .2s;
  }

  &__video {
    width: 100%;
  }

  &__video-overlay {}

  &__content {
    padding: var(--spacing-l);
    position: relative;
  }


  &__title {
    display: inline-block;
    transition: all .2s;
  }

  &__date {
    font-size: var(--font-size-xs);
    position: absolute;
    top: 0;
    right: 10px;
  }

  &__description {
    // font-size: var(--font-size-s);
    margin-bottom: var(--spacing-xs);
    margin-bottom: 0;
  }

  .read-more {
    display: inline-block;
    margin-bottom: var(--spacing-ml);
  }


}
