@import "/src/assets/scss/mixins.scss";
// @import "/src/assets/scss/animations.scss";



.project {

  .two-thirds {
    margin-bottom: var(--spacing-xl);
  }

  &__title-code {
    // margin-top: var(--spacing-l);
  }

  &__img {
    max-width: 100%;
    border-radius: var(--br);
    margin-top: var(--spacing-l);
  }

  &__live-demo,
  &__demo,
  &__code {
    margin-bottom: var(--spacing-ml);
  }
}
